{% extends "base.html" %}

{% block content %}
<h1>Register For Little Lottery</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name() }}</td>
            <td class="error">
            {% for error in form.name.errors %}{{ error }}{% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{ form.email.label }}</td>
            <td>{{ form.email() }}</td>
            <td class="error">
            {% for error in form.email.errors %}{{ error }}{% endfor %}
            </td>
        </tr>
    </table>
    {{ form.submit }}
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="error">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% endblock %}
